name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "*.tex"
          glob_root_file: true
      - run: ls -la
      - uses: actions/upload-artifact@v3
        with:
          name: PDFs
          path: "*.pdf"
      - run: echo "\n\n==============================================\n\n\n"
      - run: cat *.log
