name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: test.tex
      - run: ls -la
      - uses: actions/download-artifact@v3
        with:
          name: test.pdf
          
      - name: Display structure of downloaded files
        run: ls -R
