name: Build LaTeX document
on:
  push:
    branches:
      - main
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
        
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "tex/*.tex"
          glob_root_file: true
          
      - run: ls -la
      
      - uses: actions/upload-artifact@v3
        with:
          name: PDFs
          path: "*.pdf"
          
      - run: find * ! -name '*.pdf' ! -name 'Makefile' ! -name '*.tex' -type f -exec rm -f {} \;
      - run: find * -name '*.pdf' -type f -exec mv {} pdf/. \;
